:root {
  --footer-min-height: 6%; /* Adjust the value as needed */
  --landing_footer-min-height: 10%; /* Adjust the value as needed */
}



/*Bodies*/
.default_body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
	top: 0;
}

.landing_body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
	width: 50%;
    margin: 0;
	min-width: 800px;
	top: 0;
}



/*Menu and Content*/
.menu {
    position: relative;
    text-align: right;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: #333;
	position: fixed;
	top: 0.5%;
    right: 0.5%;
    color: #fff;
    padding: 0px;
	min-width: 68px;
	min-height: 68px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 6%; /* Position the dropdown content at the top */
    right: 0%; /* Adjust this value to align with the icon */
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/*Headers and Footers*/
.header {
    background-color: #333; /* Set the background color to black */
    color: #fff; /* Set text color to white, if needed */
	min-width: 100%;
	min-height: 6%;
	align-items: center; /* Center the content vertically */
	position: absolute;
    left: 0;
	top: 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    /* You can add more styles such as font size, font weight, etc. */
}

.footer {
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    position: absolute;
    top: 94%; /* Position at the bottom */
	min-width: 100%;
	min-height: var(--footer-min-height);
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer, adjust as needed */
}

.landing_footer {
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    position: absolute;
    top: 90%; /* Position at the bottom */
	left: 0%;
	min-width: 100%;
	min-height: var(--landing_footer-min-height);
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color for the footer, adjust as needed */
	border-radius: 8px;
}

.footer-content {
    font-weight: bold;
}

.cAccount-header-text {
    position: relative;
	font-size: 2vw;
	text-align: center;
	bottom: 1.5vw;
}



/*Header and Footer Contents */
.login-button {
    padding: 10px;
    background-color: #4f97e4;
    color: #fff;
    position: absolute;
    top: 50%; /* Center vertically at 50% of the top bar's height */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    left: 30px;
    transform: translate(0, -50%); /* Adjust the vertical position */
}

.createaccount-button {
    padding: 10px;
    background-color: #4f97e4;
    color: #fff;
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    left: 110px;
    transform: translate(0, -50%);
}

.logo {
	width: 400px;
    height: auto; /* Maintain aspect ratio */
	position: absolute;
	left: 0;
    padding: 0.5%; /* Add padding for spacing if desired */
    display: block;
    margin: 0 auto; /* Center horizontally */
	transform: translate(250%, 0); /* Adjust the horizontal position */
}

.top-button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}



/*Containers*/
.AccountContainer {
    background-color: #fff;
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
	max-width: 80%;
	position: relative;
}

.Landingcontainer {
    background-color:#4f97e4;
    border-radius: 8px;
	position: relative;
    display: flex;
    align-items: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	background-size: cover; /* Reduce the size to 70% of the container */
    background-position: center; /* Center the image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent image repetition */
	background-image: url('/static/landing.png'); /* Update the path to your background image */
	top: 9vw;
	height: 35vw;
	width: 70vw;
}

.left {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.right {
    flex: 1;
    padding: 20px;
	text-align: left;
}



/*Create Account and Login*/
.cAccount-form {
	display: flex;
    flex-direction: column;
    position: relative;
	max-width: 100%;
}

form.cAccount-form input {
	position: relative;
	max-width: 49%;
	bottom: 25px;
	left: 50%;
	height: 25px; /* Adjust the height as needed */
}

form.cAccount-form label {
	font-weight: bold;
	position: relative;
	font-size: 0.75vw;
}

.cAccountformbutton {
    background-color: #4f97e4;
    color: #fff;
	border: none;
	position:relative;
	left: 15%;
	height: 3vw;
	max-width: 70%;
    border-radius: 8px;
    cursor: pointer;
	font-size: 24px;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
	bottom: 1vw;
}

.login-link {
	position: fixed;
	top: 36.5vw;
	left: 56.75vw;
	font-size: 0.75vw;
}

.password-requirement {
    font-size: 0.6vw;
    color: #888; /* Adjust the color to your preference */
    margin-left: 5px; /* Add some space between the label and the requirement text */
	
}

.alert-container {
    position: absolute;
    top: 16%; /* Position it below the form*/
	left: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
	justify-content: center; /* Horizontal alignment */
	font-size: 0.75vw;
}

.error-message, .verification-message, .message-graphic, .loginmessage-graphic {
    display: none;
    text-align: center;
    color: white; /* Default text color for both messages */
	width: 100%;
	height: 1.5vw;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
}

.error-message {
    background-color: red;
    color: #8B0000;
}

.verification-message {
    background-color: #dff0d8; /* Green background color */
    color: #3c763d; /* Dark green text color */
}

.message-graphic {
	background: #4f97e4;
	display: block;
	position:relative;
	top: 2px
}

.loginmessage-graphic {
	background: #4f97e4;
	display: block;
	position:relative;
	top: 25px
}

.welcome {
	color: #fff;
	font-size: 36px;
	position: relative;
	transform: translate(0%, 0); /* Adjust the horizontal position */
	top: calc(50% - var(--landing_footer-min-height));
}



