<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<script src="https://kit.fontawesome.com/3280e9042c.js" crossorigin="anonymous"></script>
    <title>Faceoff Fantasy - Create Account</title>
</head>
<body>

	<div class="top-bar">
        <!-- Content within the black bar goes here -->
		<!-- Logo Banner-->
		<div class="logo-container">
			<img src="{{ url_for('static', filename='logo.png') }}" alt="Your Logo" class="logo">
		</div>
		
			<!-- Drop Down Menu in Top Right -->
		<div class="menu">
			<div class="dropdown">
				<button class="dropbtn"><i class="fa-solid fa-bars" style="font-size: 24px;"></i></button>
				<div class="dropdown-content">
					<a href="/">Home</a>
					<a href="/myteam">My Team</a>
					<a href="/standings">Standings</a>
					<a href="/livescoring">Live Scoring</a>
					<a href="/draftroom">Draft Room</a>
					<a href="/trading">Trading</a>
				</div>
			</div>
		</div>
    </div>

	<!--<div class="CAcontainer">
        <h2>Create Account</h2>
        <form id="createAccountForm" class="cAccount_form"> 
            <label for="newUsername">Username:</label>
            <input type="text" id="newUsername" name="newUsername" required>
            
            <label for="newEmail">E-Mail:</label>
            <input type="email" id="newEmail" name="newEmail" required>
            
            <label for="newPassword">Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            
            <button type="submit">Create Account</button>
        </form>
    </div> -->

    <div id="message"></div>

	<div class="footer">
        <div class="footer-content">
            &copy; 2023 Faceoff Fantasy Pools | Created by Josh Degazio
        </div>
    </div>
</body>
</html>