<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
	<script src="https://kit.fontawesome.com/3280e9042c.js" crossorigin="anonymous"></script>
	<script src="/static/js/validation.js"></script>
    <title>Faceoff Fantasy - Create Account</title>
</head>
<body class="landing_body">

	<div class="top-bar">
        <!-- Content within the black bar goes here -->
		<a href="/" class="createaccount-button">Create Account</a>
        <a href="/login" class="login-button">Login</a>
		
		<!-- Logo Banner-->
		<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
		
			<!-- Drop Down Menu in Top Right -->
		<div class="menu">
			<div class="dropdown">
				<button class="dropbtn"><i class="fa-solid fa-bars" style="font-size: 24px;"></i></button>
				<div class="dropdown-content">
					<a href="/">Home</a>
					<a href="/myteam">My Team</a>
					<a href="/standings">Standings</a>
					<a href="/livescoring">Live Scoring</a>
					<a href="/draftroom">Draft Room</a>
					<a href="/trading">Trading</a>
				</div>
			</div>
		</div>
    </div>

	<div class="Landingcontainer">
        <div class="left">
            <h2 class="welcome">Welcome To Faceoff Fantasy&trade; Pools!</h2>
        </div>
        <div class="right">
            <div class="AccountContainer">
				<h2 class="cAccount-header">Sign Up</h2>
				<div class="alert-container">
				<div id="verification-message" class="verification-message">A verification email has been sent to your email address.</div>
				<div id="error-message" class="error-message">Please try again. Your input is invalid.</div>
				<div id="message-graphic" class="message-graphic"></div>
				</div>
					<form class="cAccount-form" id="createAccountForm" method="POST" action="/submit_create_account"> 
						<label for="newUsername">Username</label>
						<input type="text" id="newUsername" name="newUsername" required>
						<br>
						<label for="newEmail">Email</label>
						<input type="email" id="newEmail" name="newEmail" required>
						<br>
						<label for="newPassword">Password<span class="password-requirement">(min 8 characters)</span></label>
						<input type="password" id="newPassword" name="newPassword" required>
						<br>
						<label for="confirmPassword">Confirm Password</label>
						<input type="password" id="confirmPassword" name="confirmPassword" required>
						<br>
						<button class="cAccountformbutton" type="submit">Create Account</button>
					</form>
				<p class="login-link">Already have an account? <a href="/login">Login</a></p>
			</div>
		</div>
		
		<div class="footer">
			<div class="footer-content">
				&copy; 2023 Faceoff Fantasy Pools | Created by Josh Degazio
			</div>
		</div>
    </div>
</body>
</html>