<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
	<script src="https://kit.fontawesome.com/3280e9042c.js" crossorigin="anonymous"></script>
    <title>Faceoff Fantasy - Create Account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="default_body">
	<!-- Header -->
	<div class="header">
		<a href="/" class="createaccount-button">Create Account</a>
		<a href="/login" class="login-button">Login</a>
		
		<!-- Logo Banner-->
		<div class="logo-container">
			<img src="{{ url_for('static', filename='logo.png') }}" alt="Your Logo" class="logo">
		</div>
		
		<!-- Drop Down Menu in Top Right -->
		<div class="menu">
			<div class="dropdown">
				<button class="dropbtn"><i class="fa-solid fa-bars" style="font-size: 24px;"></i></button>
				<div class="dropdown-content">
					<a href="/home">Home</a>
					<a href="/myteam">My Team</a>
					<a href="/standings">Standings</a>
					<a href="/livescoring">Live Scoring</a>
					<a href="/draftroom">Draft Room</a>
					<a href="/trading">Trading</a>
				</div>
			</div>
		</div>
	</div>
		
	<div class='landing_body'>
		<div class="Landingcontainer">
			<div class="left">
				<h2 class="welcome">Welcome To Faceoff Fantasy&trade; Pools!</h2>
			</div>
			<div class="right">
				<div class="AccountContainer">
					<h2 class="cAccount-header-text">Login</h2>
					<div class="alert-container">
						<div id="verification-message" class="verification-message">A verification email has been sent to your email address.</div>
						<div id="error-message" class="error-message">Please try again. Your input is invalid.</div>
						<div id="loginmessage-graphic" class="loginmessage-graphic"></div>
					</div>
						<form class="cAccount-form" id="LoginForm">
							<label for="newEmail">Email</label>
							<input type="email" id="Email" name="Email" required>
							<br>
							<label for="newPassword">Password</label>
							<input type="password" id="Password" name="Password" required>
							<br>
							<button class="cAccountformbutton" type="login">Login</button>
						</form>
					<p class="login-link">Forgot Password? <a href="/resetpass">Reset Password</a></p>
				</div>
			</div>
			
			<div class="landing_footer">
				<div class="footer-content">
					&copy; 2023 Faceoff Fantasy Pools | Created by Josh Degazio
				</div>
			</div>
		</div>
	</div>

</body>
</html>
