<!DOCTYPE html>
<html>
<head>
    <title>Faceoff Fantasy - My Team</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<script src="https://kit.fontawesome.com/3280e9042c.js" crossorigin="anonymous"></script>
	<style>
        .data-table {
            width: 100%;
            border-collapse: collapse;
        }

        .data-table th, .data-table td {
            padding: 10px; /* Add spacing to cells */
            border: 1px solid #ddd; /* Add borders for better separation */
        }

        .data-table th {
            background-color: #f2f2f2; /* Light gray background for table headers */
        }

        /* Add additional styling as needed */
    </style>
</head>
<body class="landing_body">

	<div class="top-bar">
        <!-- Content within the black bar goes here -->
		<!-- Logo Banner-->
		<div class="logo-container">
			<img src="{{ url_for('static', filename='logo.png') }}" alt="Your Logo" class="logo">
		</div>
		
			<!-- Drop Down Menu in Top Right -->
		<div class="menu">
			<div class="dropdown">
				<button class="dropbtn"><i class="fa-solid fa-bars" style="font-size: 24px;"></i></button>
				<div class="dropdown-content">
					<a href="/">Home</a>
					<a href="/myteam">My Team</a>
					<a href="/standings">Standings</a>
					<a href="/livescoring">Live Scoring</a>
					<a href="/draftroom">Draft Room</a>
					<a href="/trading">Trading</a>
				</div>
			</div>
		</div>
    </div>

    <header>
        <h1>My Team</h1>
    </header>
	
    <section>
        <h2>Toronto Maple Leafs</h2>
		
		<div class="table-container">
			<table class="data-table">
				<thead>
					<tr>
						<th>Player Name</th>
						<th>Status</th>
						<th>Team</th>
						<th>Position</th>
						<th>Jersey</th>
						<th>Height</th>
						<th>Weight</th>
						<th>Birth Date</th>
						<th>Birth City</th>
						<th>Birth State</th>
					</tr>
				</thead>
				<tbody>
					{% for player in data %}
					<tr>
						<td>{{ player['FirstName'] }} {{ player['LastName'] }}</td>
						<td>{{ player['Status'] }}</td>
						<td>{{ player['Team'] }}</td>
						<td>{{ player['Position'] }}</td>
						<td>{{ player['Jersey'] }}</td>
						<td>{{ player['Height'] }} inches</td>
						<td>{{ player['Weight'] }} lbs</td>
						<td>{{ player['BirthDate'] }}</td>
						<td>{{ player['BirthCity'] }}</td>
						<td>{{ player['BirthState'] or 'N/A' }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

    </section>
	<div class="footer">
        <div class="footer-content">
            &copy; 2023 Faceoff Fantasy Pools | Created by Josh Degazio
        </div>
    </div>
</body>
</html>